<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/cdn/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">

</head>

<body>
  <div class="container-fluid">
    <div class="col-12">
      <div class="row">

        <%- include('../general/header.ejs') %>
        <div class="bg-body-secondary">
          <h1>Product Detail</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"> <i class="fa fa-home"></i>Home</a></li>
              <li class="breadcrumb-item"><a href="/product"> Product List</a></li>
              <li class="breadcrumb-item active" aria-current="page">Product Detail</li>
            </ol>
          </nav>
        </div>


        <section style="background-color: #eee;">
          <div class="container py-5">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6 col-xl-4">

                <div class="card mb-3">
                  <div class="row">
                    <div class="col-md-4 border-end">
                      <img src="https://www.freepnglogos.com/uploads/shoes-png/dance-shoes-png-transparent-dance-shoes-images-5.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-text">Thông tin chi tiết</h5>
                      </div>
                      <ul class="list-group list-group-flush ">
                        <li class="list-group-item">ID: <%= objProduct._id %></li>
                        <li class="list-group-item">Tên: <%= objProduct.name %></li>
                        <li class="list-group-item">Mô tả: <%= objProduct.desc %></li>
                        <li class="list-group-item">Giá: <%= objProduct.price %></li>
                        <li class="list-group-item">Thể loại: <%= objProduct.id_cat.name %></li>

                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                      </ul>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>



  <script src="/cdn/bootstrap/js/bootstrap.min.js"></script>
  <script src="/cdn/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>