<%- include('./inc/top.ejs') %>

<div class="container-fluid">
  <div class="col-12">
    <div class="row">
      <%- include('../general/header.ejs') %>
      <div class="bg-body-secondary">
        <h1>Products List</h1>
        <nav aria-label="breadcrumb">
          <div class="row">
            <div class="col-11">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"> <i class="fa fa-home"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products List</li>
              </ol>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="row">
    <div class="col-9 bg-dark-subtle">
      <input type="hidden">
    </div>
    <div class="col-2 bg-dark-subtle">
      <div class="col">
        <form action="" method="post" class="col-12 d-flex flex-row ">
          <input name="type" value="filter" type="hidden">

          <select class="form-select mb-1 mt-1" aria-label="Default select example" id="idCat" name="idCatLoc">
            <% listCat.forEach((row,index)=> { %>
            <% if(index==iCat) { %>
            <option value="<%= row.id %>" selected="selected">
              <%= row.name %>
            </option>
            <% } else {%>
            <option value="<%= row.id %>">
              <%= row.name %>
            </option>
            <% } %>
            <% }) %>
          </select>
          <button class="btn btn-outline-success ms-4" type="submit">Lọc</button>
        </form>
      </div>

    </div>
    <div class="col-1 bg-dark-subtle">
      <button type="button" class="btn btn-success mx-auto mt-1 d-block" data-bs-toggle="modal" data-bs-target="#ModalProduct" role="button">Thêm</button>
      <%- include('./inc/modal.add.ejs') %>
    </div>

    <div class="">
      <div class="table-wrap">
        <table class="table table-responsive table-borderless ">
          <thead>
            <th>STT</th>
            <th>ID</th>
            <th style="text-align: center;">Ảnh</th>
            <th class="position-relative">Tên & mô tả
              <form action="" method="post" class="position-absolute btnSortName">
                <input type="text" name="sortName" value="<%= iSort %>" hidden>
                <button type="submit" class="btn">
                    <i class="fas fa-sort" style="color:white;"></i>
                </button>
            </th>
            <th class="position-relative">Giá 
              <form action="" method="post" class="position-absolute btnSort">
                <input type="text" name="sortPrice" value="<%= iSort %>" hidden>
                <button type="submit" class="btn">
                    <i class="fas fa-sort" style="color:white;"></i>
                </button>
            </form>
            </th>
            <th>Loại</th>
            <th style="text-align: center;">action</th>
          </thead>
          <tbody>
            <% listProduct.forEach((row,index)=>{ %>
            <tr class="align-middle alert border-bottom" role="alert">
              <td>
                <%= index+1 %>
              </td>
              <td>
                <%=row._id%>
              </td>
              <td class="text-center">
                <img class="pic" src=" <%= row.img %> " alt="">
              </td>
              <td>
                <div>
                  <a href="/product/detail/<%= row._id %>" class="text-decoration-none">
                    <p class="m-0 fw-bold">
                      <%= row.name%>
                    </p>
                  </a>

                  <p class="m-0 text-muted">
                    <%=row.desc%>
                  </p>
                </div>
              </td>
              <td>
                <div class="fw-600">
                  <%=row.price%>
                </div>
              </td>
              <td>
                <%=row.id_cat.name %>
              </td>
              <td>
                <div class="btn">
                  <form action="product/deleteProduct" method="post">
                    <input type="hidden" name="id" value="<%= row._id %>">
                    <button class="fas fa-times btn" onclick="return confirm('Xác nhận xóa ?')"></button>
                  </form>
                </div>

                <a href="product/update/<%= row._id %>" class="btn" data-bs-toggle="modal" data-bs-target="#ProductEdit<%= row.id %>" role="button">
                  <i class="fa fa-pen"></i>
                </a>


                <div class="modal fade" id="ProductEdit<%= row.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">EDIT PRODUCT</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form method="post">
                        <input type="hidden" name="type" value="update">
                        <input type="hidden" name="id" value="<%= row._id%>">

                        <div class="modal-body">
                          <div class="row mx-auto py-1 bg-warning-subtle">
                            <div class="mb-3">
                              <label for="exampleInputUsername" classS="form-label">Tên</label>
                              <input type="text" name="name" class="form-control" value="<%= listProduct[index].name %>" id="exampleInputUsername" />
                            </div>

                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Giá</label>
                              <input type="number" name="price" class="form-control" value="<%= listProduct[index].price %>" id="exampleInputPassword1" />
                            </div>

                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Mô tả</label>
                              <textarea name="desc" class="form-control" id="exampleInputPassword1" cols="30" rows="10"><%= listProduct[index].de %></textarea>
                              <br>
                            </div>

                            <div class="input-group mb-3">
                              <label class="input-group-text" for="inputGroupSelect01">Thể loại</label>
                              <select name="cat" class="form-select" id="inputGroupSelect01">
                                <% listCat.forEach( (row)=>{
                                        let selected = '';
                                        if(String(row._id) == String(listProduct[index].id_cat._id) ){
                                        selected = ' selected ';
                                        }
                                        %>
                                <option <%=selected %> value="<%= row._id %>"> <%= row.name %>
                                </option>

                                <% } ) %>
                              </select>
                            </div>

                            <div class="mb-3">
                              <label for="formFileSm" class="form-label">Ảnh</label>
                              <input name="img" class="form-control form-control-sm" id="formFileSm" type="file">
                            </div>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% });%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('./inc/bottom.ejs') %>